.footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 20px;
}
.reseau{
    font-size: 2rem;
    display: flex;
    gap: 5rem;
    color: #07294c;
}
.contact{
    font-size: 0.8rem;
}
.contact h2{
    color: #07294c;
}
.contact h1{
    display: flex;
    align-items: center;
}
.contact i{
    margin-inline: 1rem;
    font-size: 3rem;
    color: #07294c;
}