.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 20%;
}
.separation{
    background-color: white;
    height: 200px;
    width: 2px;
    margin-inline: 2rem;
}
.title{
    color: white;
    font-size: 100px;
}